<%= section_wrap_full({
  title: "Help",
  subtitle: "Oh no!  Someone isn't happy!"
}) do %>
  <div>Your feedback will determine how SlingPlan evolves.  We look forward to hearing what you think is missing.</div>
<% end %>
