<div class='export-email-success'>

  <div class='btn btn-back-to-bookmarks'>Back
    <i class='fa fa-right'></i>
  </div>

  <br />
  
  <p>
    <strong><%= @email %></strong> has been sent an email containing the bookmarks below.
  </p>

</div>
