<div class='holding-container'>
  <div class='inner-container'>

    <div class='backdrop-top'>
      <div class='logo'>
        <a href='/'>SlingPlan</a>
      </div>
    </div>


    <div class='container'>
      <div class='inner map'>

        <div class='page-header'>
          <h1>map overview</h1>

          <div class="sub-header">
            <h2 class='planners'>Planner</h2>
            <div class='circle-wrap planners'>
              <div class='circle planner'></div>
            </div>

            <h2 class='vendors'>Vendor</h2>
            <div class='circle-wrap vendors'>
              <div class='circle vendor'></div>
            </div>
          </div>
        </div>

        <section class="section-wrap-full">
          <div class='arrow-wrap planner-lane'>
            <i class='fa fa-long-arrow-down arrow planner-lane-arrow'></i>
          </div>
          <div class='arrow-wrap vendor-lane'>
            <i class='fa fa-long-arrow-down arrow vendor-lane-arrow'></i>
          </div>

          <div class='circle-wrap'>
            <div class='circle step-1'>
              <div class='fa fa-thumb-tack'></div>
              <h6 class='circle-title'>Location Creation</h6>
              <div class='circle-hint right'>
                Create and describe one or more of your physical locations
              </div>
            </div>
            <div class='circle small right vendor step-1'>
              <h6 class='role'>Vendor</h6>
            </div>
          </div>
          <div class='arrow-wrap'>
            <i class='fa fa-long-arrow-down arrow step-1'></i>
          </div>


          <div class='circle-wrap'>
            <div class='circle step-2'>
              <div class='fa fa-eye'></div>
              <h6 class='circle-title'>Location Activation</h6>
              <div class='circle-hint right'>
                Activate your location to make it visible to other users.
              </div>
            </div>
            <div class='circle small right vendor step-2'>
              <h6 class='role'>Vendor</h6>
            </div>
          </div>
          <div class='arrow-wrap'>
            <i class='fa fa-long-arrow-down arrow step-2'></i>
          </div>


          <div class='circle-wrap'>
            <div class='circle step-3'>
              <div class='fa fa-check-square-o'></div>
              <h6 class='circle-title'>Service Selection</h6>
              <div class='circle-hint left'>
                Select all the services you would like to view on the map.
              </div>
            </div>
            <div class='circle small left planner step-3'>
              <h6 class='role'>Planner</h6>
            </div>
          </div>
          <div class='arrow-wrap'>
            <i class='fa fa-long-arrow-down arrow step-3'></i>
          </div>


          <div class='circle-wrap'>
            <div class='circle step-4'>
              <div class='fa fa-map-marker'></div>
              <h6 class='circle-title'>Map Exploration</h6>
              <div class='circle-hint left'>
                Zoom or pan the map to explore results in the area of interest.
              </div>
            </div>
            <div class='circle small left planner step-4'>
              <h6 class='role'>Planner</h6>
            </div>
          </div>
          <div class='arrow-wrap'>
            <i class='fa fa-long-arrow-down arrow step-4'></i>
          </div>


          <div class='circle-wrap'>
            <div class='circle step-5'>
              <div class='fa fa-bookmark'></div>
              <h6 class='circle-title'>Location Bookmarking</h6>
              <div class='circle-hint left'>
                Bookmark your favorite locations from the results list or the map.
              </div>
            </div>
            <div class='circle small left planner step-5'>
              <h6 class='role'>Planner</h6>
            </div>
          </div>
        </section>
      </div>



      <div class='inner events'>

        <div class='page-header'>
          <h1>event workflow</h1>

          <div class="sub-header">
            <h2 class='planners'>Planner</h2>
            <div class='circle-wrap planners'>
              <div class='circle planner'></div>
            </div>

            <h2 class='vendors'>Vendor</h2>
            <div class='circle-wrap vendors'>
              <div class='circle vendor'></div>
            </div>
          </div>
        </div>

        <section class="section-wrap-full">
          <div class='arrow-wrap planner-lane'>
            <i class='fa fa-long-arrow-down arrow planner-lane-arrow'></i>
          </div>
          <div class='arrow-wrap vendor-lane'>
            <i class='fa fa-long-arrow-down arrow vendor-lane-arrow'></i>
          </div>

          <div class='circle-wrap'>
            <div class='circle step-1'>
              <div class='fa fa-calendar'></div>
              <h6 class='circle-title'>Event Specification</h6>
              <div class='circle-hint left'>
                Create a summary of your event including when it will take place.
              </div>
            </div>
            <div class='circle small left planner step-1'>
              <h6 class='role'>Planner</h6>
            </div>
          </div>
          <div class='arrow-wrap'>
            <i class='fa fa-long-arrow-down arrow step-1'></i>
          </div>


          <div class='circle-wrap'>
            <div class='circle step-2'>
              <div class='fa fa-bus'></div>
              <h6 class='circle-title'>Service Requirements</h6>
              <div class='circle-hint left'>
                Select needed services and define exactly what you need.
              </div>
            </div>
            <div class='circle small left planner step-2'>
              <h6 class='role'>Planner</h6>
            </div>
          </div>
          <div class='arrow-wrap'>
            <i class='fa fa-long-arrow-down arrow step-2'></i>
          </div>


          <div class='circle-wrap'>
            <div class='circle step-3'>
              <div class='fa fa-users'></div>
              <h6 class='circle-title'>Request For Proposal</h6>
              <div class='circle-hint left'>
                Service-specific event summary sent to eligible vendors.
              </div>
            </div>
            <div class='circle small left planner step-3'>
              <h6 class='role'>Planner</h6>
            </div>
          </div>
          <div class='arrow-wrap'>
            <i class='fa fa-long-arrow-down arrow step-3'></i>
          </div>


          <div class='circle-wrap'>
            <div class='circle step-4'>
              <div class='fa fa-question'></div>
              <h6 class='circle-title'>Questions</h6>
              <div class='circle-hint right'>
                Vendor requests any information needed to supply a bid.
              </div>
            </div>
            <div class='circle small right vendor step-4'>
              <h6 class='role'>Vendor</h6>
            </div>
          </div>
          <div class='arrow-wrap'>
            <i class='fa fa-long-arrow-down arrow step-4'></i>
          </div>


          <div class='circle-wrap'>
            <div class='circle step-5'>
              <div class='fa fa-comment'></div>
              <h6 class='circle-title'>Clarification</h6>
              <div class='circle-hint left'>
                Planner produces the requested information.
              </div>
            </div>
            <div class='circle small left planner step-5'>
              <h6 class='role'>Planner</h6>
            </div>
          </div>
          <div class='arrow-wrap'>
            <i class='fa fa-long-arrow-down arrow step-5'></i>
          </div>


          <div class='circle-wrap'>
            <div class='circle step-6'>
              <div class='fa fa-usd'></div>
              <h6 class='circle-title'>Bid Proposal</h6>
              <div class='circle-hint right'>
                Vendor provides a bid based on the event summary.
              </div>
            </div>
            <div class='circle small right vendor step-6'>
              <h6 class='role'>Vendor</h6>
            </div>
          </div>
          <div class='arrow-wrap'>
            <i class='fa fa-long-arrow-down arrow step-6'></i>
          </div>


          <div class='circle-wrap'>
            <div class='circle step-7'>
              <div class='fa fa-check'></div>
              <h6 class='circle-title'>Bid Approval</h6>
              <div class='circle-hint left'>
                Planner reviews all proposals and approves the one they like most.
              </div>
            </div>
            <div class='circle small left planner step-7'>
              <h6 class='role'>Planner</h6>
            </div>
          </div>

        </section>
      </div>
    </div>
    <div class='overlay'></div>

  </div>
</div>
