<% if replyable? %>
  Reply <strong>ABOVE THIS LINE</strong>
  <hr/>
<% end %>

<div class="title">
  <a href='<% host_url %>' style='display: inline-block; background-color: #03101a; padding: 0 12px; padding: 0; text-decoration: none; letter-spacing: 0.09em; text-transform: uppercase;'>
    <h1 style='margin: 6px;color: #fff; font-family: "Trebuchet MS"'>SlingPlan</h1>
  </a>
</div>

<br/>
<p>Greetings,</p>
