<div class='site-footer'>
  <div class='footer-wrapper'>

    <div class='left'>
      <div class='terms-of-service'><%= link_to 'Terms of Service', '/legal/terms' %></div>
      <div class='divider'>|</div>
      <div class='privacy-policy'><%= link_to 'Privacy Policy', '/legal/privacy' %></div>
    </div>

    <div class='right'>
      <div class='copyright'>Copyright &copy; 2015 <%= link_to 'Critical Mechanism', 'http://www.criticalmechanism.com' %></div>
    </div>

  </div>
</div>

<%= content_for :javascript %>
