<div class='backdrop-bottom'>
  <div class='container'>
    <div class='title'>How It Works</div>

    <div class='demo'>
      <div class='caption'>Tell us where your event will take place.</div>
      <!-- <video autoplay="autoplay" loop>
        <source src="/assets/event-click.mp4" type="video/mp4">
        <source src="/assets/event-click.webm" type="video/webm">
        Your browser does not support the video tag.
      </video> -->
      <%= image_tag('howitworks_1.png') %>
      <div class='description'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    </div>

    <div class='demo'>
      <div class='caption'>Specify what services you will need for your event.</div>
      <!-- <video autoplay="autoplay" loop>
        <source src="/assets/event-click.mp4" type="video/mp4">
        <source src="/assets/event-click.webm" type="video/webm">
        Your browser does not support the video tag.
      </video> -->
      <%= image_tag('howitworks_2.png') %>
      <div class='description'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    </div>

    <div class='demo'>
      <div class='caption'>Supply potential vendors with notes concerning your event.</div>
      <!-- <video autoplay="autoplay" loop>
        <source src="/assets/event-click.mp4" type="video/mp4">
        <source src="/assets/event-click.webm" type="video/webm">
        Your browser does not support the video tag.
      </video> -->
      <%= image_tag('howitworks_3.png') %>
      <div class='description'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    </div>

  </div>
</div>
