<div class='maintenance-container'>
  <div class='inner-container'>

    <div class='backdrop-top'>
      <div class='logo'>
        SlingPlan
      </div>
    </div>

    <div class='container'>

      <div class='title'>
        <i class='fa fa-wrench'></i>
        <span class='plus'>+</span>
        <i class='fa fa-heart'></i>
        <span class='equals'>=</span>
        <i class='fa fa-gears'></i>
      </div>
      <div class='subtitle'>SlingPlan is getting a tune-up.</div>

      <div class='description'>
        <p>
          We're doing some maintenance right now, but SlingPlan will be up and running better than ever as soon as we can manage.
        </p>
      </div>

      <div class='call-to-action'>
        Thanks for your patience.
      </div>

    </div>

  </div>
</div>
