<div class='coupon-wrapper'>
  <div class="field">
    <label>
      <span>Coupon Code</span>
      <div class='field-wrapper'>
        <%= text_field_tag :coupon_code, nil, class: 'coupon-code form-control' %>
      </div>
    </label>
  </div>

  <div class='coupon-entered'></div>
</div>
