<h2>Planners</h2>

<p>From our account breakdowns:</p>
<blockquote>
  A Planner account will let you easily seek out and communicate directly with the vendors you need to make your event a success! We've refined the process of creating an event to a step-by-step process that will save you time, energy, and money. Planning with us will put you in direct contact with the vendors your event needs and let them bid for your business.
</blockquote>



<section class="section-wrap-full">
  <h4>Registration</h4>

  <p>On the Home page, click the "Register" button in the upper right and select "Planner".</p>
  <ol>
    <li>Fill in your account credentials, company information, time zone, optional profile picture, and accept the Terms of Service.</li>
    <li>Click "Next" and you will find yourself on the Locations page in the Planner admin panel.</li>
  </ol>
</section>



<section class="section-wrap-full">
  <h4>Creating Events</h4>

  <p>On the Locations page in the Planner admin panel, click the "New" button</p>

  <h5>Page 1</h5>
  <ol>
    <li>Name your event and fill in the address information.  City, State, and Zip are required in order for us to seek out vendors in the area, but if you don't know the specific address of where it will take place yet, that's okay!</li>
    <li>Select the date the event takes place from the calendar to fill in the "start date" field.</li>
    <li>If the event spans multiple days, click again on the date the event ends.</li>
    <li>Select the Services you need for your event.</li>
    <li>Click "Add" to continue.</li>
  </ol>

  <h5>Page 2</h5>
  <p>Each Service you selected on the previous page has a section on this page with areas to supply additional information to Vendors.  In each area, you can...</p>
  <ol>
    <li>Enter any notes relevant to the Service in question.</li>
    <li>Optionally enter a budget for each Service.  If you enter a budget, Vendors supporting that particular Service can only furnish bids equal to or less than the specified budget.</li>
    <li>Adjust the slider above the map to widen the radius that determines which Vendor locations will receive Requests for Proposal for your event.</li>
    <li>Click "Confirm" to create the event and notify all eligible Vendors.</li>
  </ol>
</section>



<section class="section-wrap-full">
  <h4>Requests For Proposal (RFP)</h4>

  <p>On the Events page in the Planner admin panel, click a Location's "View" button.  On the next page, you will find the details you specified for your Event. Each Service you selected for your Event will have a section containing all the RFPs generated for that Service. In order to respond to, approve, or revoke bids for a particular RFP, click an RFP's "View" button.</p>

  <p>The RFP is where all negotiations between you and the Vendor will take place.  When you create an event, an RFP is generated for each Vendor owning a location within the range you define.  Each Vendor will also receive an email along with a notification inside SlingPlan.</p>

  <p>You can reply, confirm bids, and revoke bid approvals you receive in the "Messages" section of the Planner admin panel.</p>
  <ul>
    <li>Any reply, bid approval, or bid approval revokation you create will generate a notification for the Vendor attached to the RFP.</li>
    <li>You will be notified about any replies or bids by the Vendor.</li>
    <li>If the RFP has a budget specified, Vendors will only be able to create a bid at or under that amount.</li>
  </ul>

  <p class='hint'>In a live setting, all other Vendors owning eligible locations in the area of the event will also receive a copy of the same RFP, so asking questions and submitting a bid sooner than later can put you ahead of other Vendors when they choose who to do business with.</p>
</section>
