<h1>Vendors</h1>

<p>From our account breakdowns:</p>
<blockquote>
  Advertise your services, boost your business's search rankings, and get in direct contact with meeting planners by signing up with a Vendor account. By signing up as a vendor, event planners will be able to contact you directly detailing the services they need and the price they are looking to pay. As an added bonus, your locations will show on our map with all of your contact info and boosted search rankings.
</blockquote>



<section class='section-wrap-full'>
  <h4>Registration</h4>

  <p>On the Home page, click the "Register" button in the upper right and select "Vendor".</p>
  <ol>
    <li>Fill in your account credentials, company information, time zone, optional profile picture, and accept the Terms of Service.</li>
    <li>Click "Next" and you will find yourself on the subscription page.</li>
    <li>Select the desired plan, enter your credit card information, and supply your coupon code if you have one.</li>
    <li>Click "Next" to complete your registration.  You will now be logged in and viewing the Locations page in the Vendor admin panel.</li>
  </ol>
</section>



<section class='section-wrap-full'>
  <h4>Creating Locations</h4>

  <p>On the Locations page in the Vendor admin panel, click the "New" button</p>

  <h5>Page 1:</h5>
  <ol>
    <li>Name your location and fill in the address information.</li>
    <li>Select a date from the calendar to fill in the "start date" field.</li>
    <li>If the event spans multiple days, click again on the date the event will end.</li>
    <li>Select the services you need for your event.</li>
    <li>Click "Add" to continue.</li>
  </ol>

  <h5>Page 2:</h5>
  <ol>
    <li>Review the information in the location preview.</li>
    <li>If any conflicts are shown, then the location probably already exists. Click "Claim" to submit a claim for the location to administrators for approval.</li>
    <li>If there are not any conflicts, or the conflicts don't correspond to the location you created, click "Confirm" to finalize the location.</li>
    <li>You will now be back on the Locations page in the Vendor admin panel.</li>
  </ol>
</section>



<section class='section-wrap-full'>
  <h4>Activating Locations</h4>

  <p>Vendor-owned locations have two states: "Active", and "Inactive".  You can toggle the status by clicking the "Active"/"Inactive" switches on the Locations page of the Vendor admin panel.</p>

  <h5>A Location set to "Active" will...</h5>
  <ul>
    <li>Show up on the map on the Home page.</li>
    <li>Count against the maximum locations supported in your chosen Plan. (You can create unlimited inactive locations and activate them later if you decide to choose a higher tiered Plan.)</li>
    <li>Show up when planners want to create events needing the services a location supports.</li>
  </ul>
  <h5>A Location set to "Inactive" will...</h5>
  <ul>
    <li>Not show up on the map on the Home page.</li>
    <li>Not count against the maximum locations supported in your chosen Plan.</li>
    <li>Not show up when planners want to create events needing the services a location supports.</li>
  </ul>
  <p>In short, locations that are "Inactive" are only visible in the Vendor admin panel. This exists so in the event of payment failure or needing to downgrade your subscription Plan, your locations exceeding the limit will be deactivated rather than deleted.</p>
</section>



<section class='section-wrap-full'>
  <h4>Requests For Proposal (RFP)</h4>

  <p>The RFP is where all negotiations between you and the Planner will take place.  When a Planner creates an event for which one of your Locations is eligible, you will receive an email and a notification within SlingPlan with a link to the RFP.</p>

  <p>You can reply and bid on RFPs you receive in the "Messages" section of the Vendor admin panel.</p>
  <ul>
    <li>Any reply or bid you create will generate a notification for the Planner owning the event.</li>
    <li>You will be notified about any replies, bid approvals, or revocations by the Planner.</li>
    <li>If the RFP has a budget specified, you will only be able to create a bid at or below that budget.</li>
  </ul>

  <p class='hint'>After SlingPlan launches, time will be of the essence when communicating and placing bids.  All other Vendors owning eligible locations in the area of the event will also receive a copy of the same RFP, so asking questions and submitting a bid sooner than later can put you ahead of other Vendors when the Planners choose whom to do business with.</p>
</section>
