<% page.each do |location| %>
  <div class='tree-item'>
    <%= render partial: '/vendors/admin/locations/location', locals: {
      location: location,
      hide_edit_button: true,
      hide_delete_button: false,
      hide_active_slider: true,
      show_claim_button: false,
      show_complete_button: true
    } %>
  </div>
<% end %>
