<div class='page-header'>
  <div class='title'>New Location</div>
</div>

<section class='section-wrap-full claim-success'>
  <div class='subsection-label'>Location claim successfully created.</div>

  <div class='hint'>
  	<div class='heading'>Thanks!</div>
    We will review your claim very soon.  If your claim is approved, ownership of the location will be transferred to you for editing and activation.
  </div>

  <div class='links'>
    <%= link_to 'Back to Locations', vendors_admin_locations_path, class: 'btn btn-back-to-locations' %>
    <%= link_to 'View Claims', vendors_admin_locations_claims_path, class: 'btn f-right btn-view-claims' %>
  </div>
</section>
