<p>
  Your location claim has been approved! Ownership of the location has been transfer to you and you can check it out in your admin dashboard.
  <br />
  <%= link_to 'Click here to go to your dashboard', with_host_url('/vendors/admin/locations'), target: '_blank' %>
</p>
