<p>
  Unfortunately, we have declined your location claim request.  But fear not! You can simply create a new location and you will be up and running in no time.
  <br />
  <%= link_to 'Click here to create your location', with_host_url('/vendors/admin/locations'), target: '_blank' %>
</p>
