<p>
Congratulations! Your first RFP has arrived and is ready to bid on [HERE].  As a reminder, your username to log in is <%= @vendor.email %>.Since you are now up, running, and negotiating for new business your SlingPlan trial has ended and billing has started.  If you need to change your subscription you can do so <%= link_to 'here', 'https://www.slingplan.com/vendors/admin/account/billing' %>.
</p>