<h4><%= @vendor.name %>,</h4>

<p>We're sorry to see you go!</p>

<p>Billing has ended, you will no longer recieve RFPs from vendors, and all your locations have been archived.  If you decide to come back in the future you will be able to start right where you left off.</p>


