<h4><%= @vendor.name %>,</h4>

<p>There was a problem with your SlingPlan subscription payment. Please log in <%= link_to 'here', 'https://www.slingplan.com/vendors/admin/account/billing' %> to rectify the issue.</p>

