<%= section_wrap_full({
  title: "Help",
  subtitle: "We are not happy unless you are.  Tell us what's on your mind."
}) do %>
  <div>Your feedback will determine how SlingPlan evolves.  We look forward to hearing what you think is missing.</div>
<% end %>
