<%= form_tag('/vendors/admin/account/billing/create_subscription',
  url: '/vendors/admin/account/billing/create_subscription',
  role: 'form',
  class: 'choose-plan',
  authenticity_token: true) do %>

  <div id="error_explanation" class='payment-errors'></div>

  <%= render(partial: 'plans') %>

  <div class='submit'>
    <%= submit_tag 'Sign Up' %>
  </div>
<% end %>

