.admin-stripe {
  .coupon-list {
    @import 'components/coupon';

    padding: $margin / 2;
  }

  @include breakpoint(900px) {
    .coupon-list .coupon {
      width: 48.6%;
    }
  }

  @include breakpoint(670px) {
    .coupon-list .coupon {
      width: 48.3%;
    }
  }

  @include breakpoint(620px) {
    .coupon-list .coupon {
      display: block;
      width: 98%;
    }
  }
}
