<div class='results locations tree'>

  <%= section_wrap_mini({
    title: title,
    class: cls
  }) do %>
    Pan the map to filter the list of results
  <% end %>

  <div class='placeholder'></div>
  <div class='none-found'>None found</div>
</div>
