<p>We're sorry to see you go!</p>

<p>By canceling your subscription you have been downgraded to the Basic free acount. You will be able to upgrade to a better subscription at any point <%= link_to 'here', 'https://www.slingplan.com/planners/admin/account/billing' %>. </p>


